/* body {
  background-image: url(./images/anim.gif);
} */


#navcategory {
    background-color: #046A1B;
}

#footer1 {
    background-color: #046A1B;
    width: 100%;
    height: 200px;
    left: auto;
    right: auto;
    top: 800px;
    opacity: 80%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: space-between;

}

#logos {
    display: flex;
    width: 100%;
    height: 37px;
    left: auto;
    right: auto;
    opacity: 80%;
    padding-left: 5%;
    padding-right: 5%;

}

#footer2 {
    display: flex;
    justify-content: space-between;
    background-color: #046A1B;
    width: 100%;
    height: 180px;
    left: auto;
    right: auto;
    /* top: 800px; */
    padding-left: 5%;
    padding-right: 5%;
}

/*animation logo_PhytoBCD*/
div.at-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .at-item {
    width: 600px;
    height: 100px;
    background:url(./images/LOGO_phyto_bcd.png) no-repeat;
    animation-name: tilt-in-right-1;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    /* shorthand 
    animation: tilt-in-right-1 1s ease 0s 1 normal none;
    */ 
  }

  @keyframes tilt-in-right-1 {
    0%{
      transform: rotateX(-30deg) translateX(300px) skewX(30deg);
      opacity: 0;
    }
    100%{
      transform: rotateX(0deg) translateX(0) skewX(0deg);
      opacity: 1;
    }
  }


/* animation cards*/
  div.at-container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 100%;
    /* margin-bottom: 40px; */
  }
  .at-item2 {
    width: 1000px;
    height: 70px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color:white;
    animation-name: slide-top;
    animation-duration: 1.3s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: both;
    /* shorthand 
    animation: slide-top 1s ease 0s 1 normal none;
    */ 
  }
  @keyframes slide-top {
    0%{
      transform: translateY(0);
    }
    100%{
      transform: translateY(-100px);
    }
  }

  /* animation formulaire*/
  div.at-container3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .at-item3 {
    
    
    animation-name: slide-top;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: both;
    /* shorthand 
    animation: slide-top 1s ease 0s 1 normal both;
    */ 
  }
  @keyframes slide-top {
    0%{
      transform: translateY(0);
    }
    100%{
      transform: translateY(-100px);
    }
  }


  /* animation nav*/
  div.at-container6 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .at-item6 {
    color: #3079ed;
    animation-name: tilt-in-right-1;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    /* shorthand 
    animation: tilt-in-right-1 1s ease 0s 1 normal forwards;
    */ 
  }
  @keyframes tilt-in-right-1 {
    0%{
      transform: rotateX(-30deg) translateX(300px) skewX(30deg);
      opacity: 0;
    }
    100%{
      transform: rotateX(0deg) translateX(0) skewX(0deg);
      opacity: 1;
    }
  }

/*carousels*/
#carou {
  box-shadow: grey 6px 6px 6px 0px;
}

#carou_foot {
  box-shadow: grey 6px 6px 6px 0px;
}