/* body {
  background-image: url(./images/anim.gif);

} */
#navcategory {
    background-color: #046A1B;
}

#footer1 {
    background-color: #046A1B;
    width: 100%;
    height: 200px;
    left: auto;
    right: auto;
    top: 800px;
    opacity: 80%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: space-between;

}

#logos {
    display: flex;
    width: 100%;
    height: 220px;
    left: auto;
    right: auto;
    opacity: 80%;
    padding-left: 5%;
    padding-right: 5%;

}

#footer2 {
    display: flex;
    justify-content: space-between;
    background-color: #046A1B;
    width: 100%;
    height: 180px;
    left: auto;
    right: auto;
    /* top: 800px; */
    padding-left: 5%;
    padding-right: 5%;
}

/*animation logo_PhytoBCD*/
div.at-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .at-item {
    width: 600px;
    height: 100px;
    background:url(./images/LOGO_phyto_bcd.png) no-repeat;
    animation-name: tilt-in-right-1;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    /* shorthand 
    animation: tilt-in-right-1 1s ease 0s 1 normal none;
    */ 
  }

  @keyframes tilt-in-right-1 {
    0%{
      transform: rotateX(-30deg) translateX(300px) skewX(30deg);
      opacity: 0;
    }
    100%{
      transform: rotateX(0deg) translateX(0) skewX(0deg);
      opacity: 1;
    }
  }
  


/* animation cards*/
  div.at-container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 100%;
    /* margin-bottom: 40px; */
  }
  .at-item2 {
    width: 1000px;
    height: 70px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color:white;
    animation-name: slide-top;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: both;
    /* shorthand 
    animation: slide-top 1s ease 0s 1 normal none;
    */ 
  }
  @keyframes slide-top {
    0%{
      transform: translateY(0);
    }
    100%{
      transform: translateY(-100px);
    }
  }

  /* animation formulaire*/
  div.at-container3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .at-item3 {
    
    
    animation-name: slide-top;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: both;
    /* shorthand 
    animation: slide-top 1s ease 0s 1 normal both;
    */ 
  }
  @keyframes slide-top {
    0%{
      transform: translateY(0);
    }
    100%{
      transform: translateY(-100px);
    }
  }




  /*animation "rotation"*/
  div.at-container5 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .at-item5 {
    animation-name: rotate-in-center;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    /* shorthand 
    animation: rotate-in-center 1s ease 0s 1 normal both;
    */ 
  }
  @keyframes rotate-in-center {
    0%{
      transform: rotate(-360deg);
      opacity: 0;
    }
    100%{
      transform: rotate(0);
      opacity: 1;
    }
  }

  /* animation nav*/
  div.at-container6 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .at-item6 {
    color: #3079ed;
    animation-name: tilt-in-right-1;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    /* shorthand 
    animation: tilt-in-right-1 1s ease 0s 1 normal forwards;
    */ 
  }
  @keyframes tilt-in-right-1 {
    0%{
      transform: rotateX(-30deg) translateX(300px) skewX(30deg);
      opacity: 0;
    }
    100%{
      transform: rotateX(0deg) translateX(0) skewX(0deg);
      opacity: 1;
    }
  }

  /*animtion bounce*/
  div.at-container9 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .at-item9 {
    
    
    animation-name: bounce-in-zoomin;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    /* shorthand 
    animation: bounce-in-zoomin 1s ease 0s 1 normal none;
    */ 
  }
  @keyframes bounce-in-zoomin {
    0%{
      transform: scale(7);
      animation-timing-function: ease-in;
      opacity: 0;
    }
    35%{
      transform: scale(1);
      animation-timing-function: ease-out;
      opacity: 1;
    }
    55%{
      transform: scale(1.5);
      animation-timing-function: ease-in;
    }
    70%{
      transform: scale(1);
      animation-timing-function: ease-out;
    }
    80%{
      transform: scale(1.24);
      animation-timing-function: ease-in;
    }
    90%{
      transform: scale(1);
      animation-timing-function: ease-out;
    }
    95%{
      transform: scale(1.04);
      animation-timing-function: ease-in;
    }
    100%{
      transform: scale(1);
      animation-timing-function: ease-out;
    }
  }


/* css page besoins*/
/*animation "rotation"*/
div.at-container5 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.at-item5 {
  animation-name: rotate-in-center;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
  /* shorthand 
    animation: rotate-in-center 1s ease 0s 1 normal both;
    */
}

@keyframes rotate-in-center {
  0% {
    transform: rotate(-360deg);
    opacity: 0;
  }

  100% {
    transform: rotate(0);
    opacity: 1;
  }
}

/* cover*/
*
{
  margin: 0;
  padding: 0;
}

.container1 {
  width: 100%;
  height: 100vh;
  background-image: url(./images/phytobasket.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: table;
}

.container2 {
  width: 100%;
  height: 100vh;
  background-image: url(./images/tablephyto.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: table;
}

.container3 {
  width: 100%;
  height: 100vh;
  background-image: url(./images/woodphyto.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: table;
}

#link {
  font-size: 5rem;
  color: white;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  
}

/* a {
  text-decoration: none;
  color: white;
  
} */

/* div {
  background-color: white;
} */
div.at-container10 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.at-item10 {
  width: 100px;
  height: 100px;
  
  animation-name: puff-in-horizontal;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
  /* shorthand 
  animation: puff-in-horizontal 1s ease 0s 1 normal none;
  */ 
}
@keyframes puff-in-horizontal {
  0%{
    transform: scaleX(2);
    filter: blur(4px);
    opacity: 0;
  }
  100%{
    transform: scaleX(1);
    filter: blur(0);
    opacity: 1;
  }
}

#carou {
  box-shadow: grey 6px 6px 6px 0px;
}